<?xml version="1.0"?>
<launch>
  <arg name="odometry_type" default="$(optenv ODOMETRY_TYPE wheels)"/>
  <include file="$(find guardian_description)/launch/guardian_state_robot.launch">
	<arg name="odometry_type" default="$(arg odometry_type)"/>
  </include>
  
  <!-- Launches RGBD sensor -->
  <!--include file="$(find guardian_complete)/launch/sensors/xtion_pro.launch"/-->

  <!-- Launches modbus_io node -->
  <!--param name="modbus_io_node/ip_address" value="192.168.2.185" />
  <node pkg="modbus_io" type="modbus_io_node" name="modbus_io_node" output="screen"/-->    
 
  <!-- Launches the camera AXIS -->
  <!--include file="$(find axis_camera)/axis_ptz.launch" /-->

  <!-- HOKUYO -->
  <!--include file="$(find guardian_complete)/launch/sensors/hokuyo.launch"/-->

  <!-- RLY08 I/O device -->
  <include file="$(find rly_08)/launch/rly_08.launch"/>
  
  <!-- Robotnik tilt laser (launches also Hokuyo node) -->
  <!--include file="$(find robotnik_tilt_laser)/launch/robotnik_tilt.launch"/-->  
 
  <!-- Launches guardian  node -->
  <include file="$(find guardian_complete)/launch/guardian_roboteq.launch">
	<arg name="odometry_type" default="$(arg odometry_type)"/>
  </include>

  <!-- robot_localization will pubish transform odom->base_footprint -->
  <!--include file="$(find guardian_complete)/launch/robot_localization_odom.launch"/-->

  <!-- Launches guardian  pad -->
  <include file="$(find guardian_complete)/launch/guardian_pad.launch" />
  
  <!-- Launches pixhawk -->
  <include file="$(find guardian_complete)/launch/sensors/pixhawk.launch"/>
  <include file="$(find robot_localization_utils)/launch/rl_utils.launch"/>
  <!--node pkg="robot_localization_utils" type="rl_utils" name="rl_utils"/-->
  
  <!-- WAM Teleop Node -->
  <!--node pkg="wam_teleop" type="wam_joystick_teleop" name="wam_joystick_teleop" output="screen"/-->

  <!-- Launches POWERBALL ARM -->
  <!-- include file="$(find robotnik_powerball_driver)/launch/robotnik_powerball_driver_gball.launch" /-->
  
  <!-- Launches WSG_50 GRIPPER -->
  <!--include file="$(find wsg_50)/launch/wsg_50_can.launch" /-->

  
</launch>

